<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/n4zim" target="_blank">
              <span class="icon icon--github">{% include icon-github.svg %}</span>
              <span class="username">n4zim</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/n4ziml" target="_blank">
              <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
              <span class="username">n4ziml</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</footer>
