$padding: 20px;

.grid_width {
  margin: 0 0 $padding 0;
  padding: $padding 0 $padding $padding;
  [class*='div-']:last-of-type { padding-right: $padding; }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*='div-'] {
    float: left;
    padding: 0 $padding $padding 0;
    width: 100%;
    .grid_width &:last-of-type { padding-right: 0; }
  }

  .card {
    padding: $padding;
    background: #eee;
    .title {
      font-size: 20px;
      margin-bottom: $padding / 2;
    }
  }
}

@media all and (min-width: 450px) and (max-width: 599px) {
  .grid_width {
    .elastic-div-1-2, .elastic-div-1-4, .elastic-div-1-3 { width: 50%; }
  }
}

@media all and (min-width: 600px) and (max-width: 799px) {
  .grid_width {
    .elastic-div-1-4.force { width: 25%; }
    .elastic-div-1-3, .elastic-div-1-4 { width: 33.333333%; }
    .elastic-div-1-2.force { width: 50%; }
    .elastic-div-2-3, .elastic-div-1-2 { width: 66.666666%; }
  }
}

@media all and (min-width: 800px) {
  .grid_width {
    .elastic-div-1-4, .elastic-div-1-3 { width: 25%; }
    .elastic-div-1-3.force { width: 33.333333%; }
    .elastic-div-1-2 { width: 50%; }
    .elastic-div-3-4, .elastic-div-2-3 { width: 75%; }
    .elastic-div-2-3.force { width: 66.666666%; }
  }
}

@media all and (min-width: 700px) {
  .grid_width {
    .div-3-4 { width: 75%; }
    .div-2-3 { width: 66.666666%; }
    .div-1-2 { width: 50%; }
    .div-1-3 { width: 33.333333%; }
    .div-1-4 { width: 25%; }
  }
}
