---
layout: default
---

<div class="home">

    {% assign rand = "2 1 2 1 2 3 1 2 3 3 3 1 2 2 3" | split: " " %}

    {% assign available = 100 %}

    <div class="grid">
    {% for nb in rand %}
        {% if nb == "3" %}
            {% if true %}
                {% assign size = "3-4" %}
            {% else %}
                {% assign size = "1-1" %}
            {% endif %}
        {% elsif nb == "2" %}
            {% assign size = "1-2" %}
        {% else %}
            {% assign size = "1-4" %}
        {% endif %}
        <div class="div-{{size}}">
            <div class="card">
                <h3>{{ nb }}</h3>
            </div>
        </div>
    {% endfor %}
    </div>

    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>