---
layout: default
---

<div class="grid">

    <div class="item">
        <div class="card">
            <div class="title">Formation</div>
            {% for e in site.data.education %}
                <strong>{{e.name}} ({{e.year}})</strong>
                <p><i>{{e.school}}</i></p>
            {% endfor %}
        </div>
    </div>

    <div class="item">
        <div class="card">
            <div class="title">Expériences professionnelles</div>
            {% for p in site.data.experience %}
                <strong><a href="{{p.website}}" target="_blank">{{p.company}}</a></strong>
                <ul>
                    <li>{{p.position['fr']}}</li>
                    <li>
                        {{p.start | year_and_month_to_french}}
                        {{p.end | year_and_month_to_french}}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

    {% for skill in site.data.skills %}
        <div class="item">
            <div class="card">
                <div class="title">{{skill.category['fr']}}</div>
                <ul>{% for element in skill.elements %}<li>{{element['fr']}}</li>{% endfor %}</ul>
            </div>
        </div>
    {% endfor %}

    <div class="item">
        <div class="card">
            <div class="title">Associatif et projets</div>
            {% for s in site.data.side %}
            <strong>{{s.name}}</strong>
            <ul>
                <li>{{s.position['fr']}}</li>
                <li>{{s.description['fr']}}</li>
                <li>
                    {{s.start | year_and_month_to_french}}
                    {{s.end | year_and_month_to_french}}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="item">
        <div class="card">
            <div class="title">Centres d'intérêts</div>
            {% for interest in site.data.interests %}
            <strong>{{interest.title['fr']}}</strong>
            <ul>{% for element in interest.elements %}<li>{{element['fr']}}</li>{% endfor %}</ul>
            {% endfor %}
        </div>
    </div>

</div>

<script type="text/javascript">
    (function() {
        Macy.init({
            container: ".grid",
            trueOrder: false,
            waitForImages: false,
            margin: 16,
            columns: 3,
            breakAt: { 800: 2, 400: 1 }
        });
    })();
</script>
