---
layout: default
---

<div class="grid">
    {% for project in site.data.projects %}
    <div class="item" id="{{ project.name | downcase | replace: ' ', '_' }}">
        <div class="card">
            <div>
                <strong>
                    [{% include period-dates.html start=project.date.start end=project.date.end period=false %}]
                    {{ project.name }}
                </strong>
                <br/>
                <i>{{ project.subtitle['fr'] }}</i>
            </div>

            {% if project.tags %}
            <ul class="tags">
                {% for tag in project.tags['fr'] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if project.images %}
            <div style="text-align: center;">
                {% for image in project.images %}
                <img
                    src="/assets/projects/{{ image }}"
                    alt="{{ project.name }}{% if forloop.length > 1 %} {{ forloop.index }}{% endif %}"
                    style="margin-top: 15px;"
                >
                {% endfor %}
            </div>
            {% endif %}
            
            <div style="margin-top: 15px; text-align: justify">
                {{ project.description['fr'] }}
            </div>
            
            {% if project.links %}
            <ul>
                {% for link in project.links %}
                <li>
                    <a href="{{ link.url }}" target="_blank">{{ link.title['fr'] }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    (function() {
        Macy.init({
            container: ".grid",
            trueOrder: false,
            waitForImages: false,
            margin: 16,
            columns: 3,
            breakAt: { 800: 2, 400: 1 }
        });
    })();
</script>
