---
layout: default
---

<div class="grid">
    {% for project in site.data.projects %}
    <div class="item">
        <div class="card">
            <div>
                <strong>{{project.name}}</strong><br/>
                <i>{{project.subtitle['fr']}}</i>
            </div>
            <div style="margin-top: 15px; text-align: justify">
                {{project.description['fr']}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    (function() {
        Macy.init({
            container: ".grid",
            trueOrder: false,
            waitForImages: false,
            margin: 16,
            columns: 3,
            breakAt: { 800: 2, 400: 1 }
        });
    })();
</script>
